<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /sandip-university-sod/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /sandip-university-sod/index.html [L]
</IfModule>